<div class="profileTable">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">

            <thead class="table-head">
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Employee Id</th>
                    <th>Email</th>
                    <th>Reporting Persons</th>

                </tr>
            </thead>
            <tbody>

                {% set counter = ((usersProfile.paginator.getCurrentPage()-1) * 30)+1 %}

                {% for details in usersProfile.profiles %}
                    {% set uId = details.id %}
                    <tr>
                        <td>{{counter}}</td>
                        <td><a href="{{path('vlreleases_user_displayProfile')}}?userId={{details.id}}">{{details.name}}</a></td>
                        <td>{{details.employeeId}}</td>
                        <td>{{details.email}}</td>
                        <td>{{reporters[details.id]}}</td>
                    </tr>

                    {% set counter = counter + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>