<div class="profileTable">
    <div class="table-responsive">
        <table cellspacing="0" cellpadding="5" border="0" class="table table-bordered table-striped" id="userprofile-table">

            <thead class="table-head">
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Employee Id</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Extension Number</th>
                    <th>Work Station</th>
                    <th>System Id</th>
                    <th>System Ip</th>
                    <th>Team</th>


                </tr>
            </thead>
            <tbody>

                {% set counter = ((usersProfile.paginator.getCurrentPage()-1) * 30)+1 %}

                {% for details in usersProfile.profiles %}

                    <tr>
                        <td>{{counter}}</td>
                        <td><a href="{{path('vlreleases_user_displayProfile')}}?userId={{details.id}}">{{details.name}}</a></td>
                        <td><div style="display:block;width:64px;" data-toggle="modal" data-target="#ImageModal"  style="padding:0px;"><img  onClick="testi('{{details.photo}}+{{details.name}}+{{details.employeeId}}');" src="{{userThumbImagePath}}{{details.photo}}" alt=""/></div></td>
                        <td>{{details.employeeId}}</td>
                        <td>{{details.email}}</td>
                        <td>{{details.mobile}}</td>
                        <td>{{details.extensionNumber}}</td>
                        <td>{{details.workStation}}</td>
                        <td>{{details.systemId}}</td>
                        <td>{{details.systemIp}}</td>
                        <td>{{details.tname}}</td>

                    </tr>

                    {% set counter = counter + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>