{% if(userData.rolePermission.getView == 'true') %}
    <div class="profileTable">
    <div class="table-responsive">
     <table class="table table-bordered table-striped">
        <thead class="table-head">
             <tr>
                 <th>S.No</th>
                 <th>Group Mail</th>
                 <th>Created By</th>
                 <th>Created Date</th>
                 <th>View Memebers</th>
                 {% if(userData.rolePermission.getEdit == 'true') %}
                    <th>Edit</th>
                    <th>Delete</th>                 
                    <th>Test Mail</th>                                      
                 {% endif %}
             </tr>
         </thead>
         <tbody>      
             {% set counter = 1 %}
             {% for resNames in groupMailsList %}
                 <tr>
                     <td>{{ counter }}</td>
                     <td>{{ resNames.groupEmail }}</td>
                     <td>{{ resNames.userName }}</td>
                     <td>{{ resNames.createdDate|date('d-m-Y') }}</td>
                     <td class="sEdit"><a href="{{path('vlreleases_groupMails_getMailMembers')}}?userId={{resNames.id}}">View Members</a></td>
                     {% if(userData.rolePermission.getEdit == 'true') %}
                        <td class="sEdit" id="EditGrp" grpId={{resNames.id}}>edit</td>
                        <td class="sEdit" id="deleteGrp" grpId={{resNames.id}}>delete</td>                     
                        <td class="sEdit"><a href="{{path('vlreleases_groupMails_testMail')}}?userId={{resNames.id}}">Test Mail</a></td>
                     {% endif %}
                 </tr>
                 {% set counter = counter + 1 %}
             {% endfor %}              
        </tbody>
     </table>
    </div>
    </div>
{% endif %}