<!DOCTYPE html>
<html lang="en"><head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Niti</title>    
        <link href="{{cssPath}}bootstrap.css" rel="stylesheet"> 
        <link href="{{fontsPath}}font-awesome.css" rel="stylesheet">	
        <link href="{{cssPath}}morris.css" rel="stylesheet">    
        <link href="{{cssPath}}style.css" rel="stylesheet">
        <link href="{{cssPath}}plugins.css" rel="stylesheet">
        <link href="{{cssPath}}demo.css" rel="stylesheet">
        <link href="{{cssPath}}bootstrap-datetimepicker.css" rel="stylesheet">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    </head>
    <body class="pace-done">	
        <div id="wrapper">     
            {% include 'VlreleasesUserBundle:User:layout.html.twig' %}
            
            <div class="" id="page-wrapper">
                <div class="page-content page-content-ease-in">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <h1>Resources</h1>                            
                            </div>
                        </div>                   
                    </div>
                    <table class="table table-bordered table-striped">

                        <thead class="table-head">
                            <tr>
                                <th>S.No</th>
                                <th>Resource Names</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% set counter = 1 %}
                            {% for resNames in userData.resourcesNames %}
                                <tr>
                                    <td>{{ counter }}</td>
                                    <td>{{ resNames.name }}</td>
                                </tr>
                                {% set counter = counter + 1 %}
                            {% endfor %}  

                        </tbody>
                    </table>	

<!-- global scripts-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{jsPath}}jquery_003.js"></script>
<script src="{{jsPath}}bootstrap.js"></script>
<script src="{{jsPath}}defaults.js"></script>


<!-- morris charts -->
<script src="{{jsPath}}raphael-2.js"></script>
<script src="{{jsPath}}morris.js"></script>

<!-- theme scripts -->
<!--<script src="{{jsPath}}chart-demo.js"></script> -->
<script src="{{jsPath}}bootstrap-datetimepicker.min.js"></script>

<script src="http://malsup.github.com/jquery.form.js"></script> 
<script src="{{jsPath}}typeahead/js/bootstrap-typeahead.js"></script>

</body>
</html>
