<!DOCTYPE html>
<html lang="en"><head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Niti</title>    
        <link href="{{cssPath}}bootstrap.css" rel="stylesheet"> 
        <link href="{{fontsPath}}font-awesome.css" rel="stylesheet">	
        <link href="{{cssPath}}morris.css" rel="stylesheet">    
        <link href="{{cssPath}}style.css" rel="stylesheet">
        <link href="{{cssPath}}plugins.css" rel="stylesheet">
        <link href="{{cssPath}}demo.css" rel="stylesheet">
        <link href="{{cssPath}}bootstrap-datetimepicker.css" rel="stylesheet">
        <!--[if (lt IE 9) & (!IEMobile)]>
        <script src="{{jsPath}}respond.src.js"></script>
        <![endif]-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <style>
            .modal.modal-wide .modal-dialog {
                width: 55%;
                table-layout: fixed;
                word-wrap: break-word;
            }
        </style>
    </head>
    <body class="pace-done">	
        <div id="wrapper">   
             {% include 'VlreleasesUserBundle:User:layout.html.twig' %}
            
            <div class="" id="page-wrapper">

                <div class="page-content page-content-ease-in">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <h1>Users</h1>                            
                            </div>
                            <div>
                                
                                    <p class="radioBtn"><strong>Filter By:</strong>
                                       <span> <input type="radio" id="jyo" name="filterUsersType5" value="Jyo">Reporting To Jyo</span>
                                      <span>  <input type="radio" id="nonjyo" name="filterUsersType5" value="Non Jyo">Not Reporting To Jyo</span>
                                      <span>  <input type="radio" id="all" name="filterUsersType5" value="Display All">Display All</span>
                                    </p>
                                
                            </div>
                            <div class="widget device-search">
                                <!-- Widget Header -->
                                <div class="widget-head">
                                    <div class="pull-left">Search</div>					
                                </div>
                                <!-- Widget Header End-->
                                <div class="clearfix"></div>				
                                <!-- Widget content -->
                                <!---- include searchOptions.html.twig----->
                                {% include 'VlreleasesUserBundle:User:searchUser.html.twig' %}
                            </div>

                        </div> 
                    </div>
                    <div class="userPagination">
                        {# display navigation for pages - paginator_navigator #}
                        {% if usersProfile.profiles|length > 0 and usersProfile.paginator.getTotalPages() > 1 %}
                            {{ include('VlreleasesUserBundle:Paginator:paginator_navigator.html.twig', {'paginator' : usersProfile.paginator}) }}
                        {% endif %}
                    </div>
                    <div id="ajaxUserDetails">
                <div class="profileTable">
                <div class="table-responsive">
                    <table cellspacing="0" cellpadding="5" border="0" class="table table-bordered table-striped" id="userprofile-table">

                        <thead class="table-head">
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Employee Id</th>
                                <th>Email</th>
                                <th>Mobile Number</th>
                                <th>Extension Number</th>
                                <th>Work Station</th>
                                <th>System Id</th>
                                <th>System Ip</th>
                                <th>Team</th>


                            </tr>
                        </thead>
                        <tbody>
                         
                            {% set counter = ((usersProfile.paginator.getCurrentPage()-1) * 30)+1 %}

                            {% for details in usersProfile.profiles %}

                                <tr>
                                    <td>{{counter}}</td>
                                    <td><a href="{{path('vlreleases_user_displayProfile')}}?userId={{details.id}}">{{details.name}}</a></td>
                                    <td><div style="display:block;width:64px;" data-toggle="modal" data-target="#ImageModal"  style="padding:0px;"><img  onClick="testi('{{details.photo}}+{{details.name}}+{{details.employeeId}}');" src="{{userThumbImagePath}}{{details.photo}}" alt=""/></div></td>
                                    <td>{{details.employeeId}}</td>
                                    <td>{{details.email}}</td>
                                    <td>{{details.mobile}}</td>
                                    <td>{{details.extensionNumber}}</td>
                                    <td>{{details.workStation}}</td>
                                    <td>{{details.systemId}}</td>
                                    <td>{{details.systemIp}}</td>
                                    <td>{{details.tname}}</td>

                                </tr>

                                {% set counter = counter + 1 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
                </div>
            </div>
                                 
 <div id="ImageModal" class="modal modal-wide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
        <div id="id-name">
            
        </div>
      </div>
      <div class="modal-body" style="display: block;">
        <img  id="myImg" class="niti_img" src="" alt=""  height="600" width="650" align="middle"/>
        
      </div>
      
    </div>
  </div>
</div>

<!-- global scripts-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{jsPath}}jquery_003.js"></script>
<script src="{{jsPath}}bootstrap.js"></script>
<script src="{{jsPath}}defaults.js"></script>


<!-- morris charts -->
<script src="{{jsPath}}raphael-2.js"></script>
<script src="{{jsPath}}morris.js"></script>

<!-- theme scripts -->
<!--<script src="{{jsPath}}chart-demo.js"></script> -->
<script src="{{jsPath}}bootstrap-datetimepicker.min.js"></script>

<script src="http://malsup.github.com/jquery.form.js"></script> 
<script src="{{jsPath}}typeahead/js/bootstrap-typeahead.js"></script>

<script>
        //Enabling  submenu display  
           $("#sidebar-user .subMenu").css("display","block");

</script>
<script>
   function testi(b)
    {
        var arr=b.split('+');
        document.getElementById("myImg").src = "{{userImagePath}}"+arr['0'];
        document.getElementById("id-name").innerHTML =arr['1']+" - "+arr['2'];
    }
      
    </script>
    <script>
        $(document).ready(
             function (){

        //ajax call for user details based on reporting person 
        $('input:radio[name=filterUsersType5]').click(function() {
          
        var radioVal = $(this).val();

        $.ajax({
           type: "POST",
           url: "{{ path('vlreleases_user_filterUserData') }}",
           cache: false,
           data: {uvalue:radioVal},
           success: function(msg){
                $(this).attr( 'checked' );
               $("#ajaxUserDetails").html(msg);
               
           }                   
        });

        });

    });
            </script>
</body>
</html>

