
{% if userData.pendingApprovals %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <colgroup>					
                <col class="col-xs-1">
                <col class="col-xs-1">
                <col class="col-xs-5">
                <col class="col-xs-1">					
                <col class="col-xs-1">
            </colgroup>
            <thead class="table-head">
                <tr>
                    <th>Select   <input type="checkbox" name="allcheckboxes" id="allcheckboxes_id">
                        <input type="hidden" name="countall" id="counts_id" value="{{userData.pendingApprovals|length}}">
                    </th>
                    <th>Date</th>
                    <th>Task</th>

                    <th>Hours</th>
                    <th>Status</th>
                    <!--<th>Action</th>-->
                </tr>
            </thead>
            <tbody>

                {% for i in range(0, userData.pendingApprovals|length - 1) %}
                    <tr>
                        <td><input type="checkbox" name="allApprovals[]" id="checkbox_{{i}}" value="{{userData.pendingApprovals[i].id}}"/></td>
                        <td>
                            {{userData.pendingApprovals[i].date}}
                        </td>
                        <td>
                            {{userData.pendingApprovals[i].description}}
                        </td> 
                        <td>
                            {{userData.pendingApprovals[i].duration}}
                        </td> 
                        <td>
                            {{userData.pendingApprovals[i].status}}
                        </td>
                        <!--<td>
                        {{'approve'}}
                      </td>-->

                    </tr>   
                {% endfor %} 

            </tbody>
        </table>
    </div>
{% else %}
    <div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <colgroup>					
                    <col class="col-xs-1">
                    <col class="col-xs-5">
                    <col class="col-xs-1">					
                    <col class="col-xs-1">
                </colgroup>
                <tbody>
                    <tr>
                        There are no tasks to approve/reject
                    </tr>
                </tbody>
            </table>
        </div>           

    {% endif %}   
</div>
<div class="row">
    <div class="col-lg-12 marbottom"> 
        <button class="btn btn-green" name="btnApp" id="btnApp" value="Approve">Approve</button>
        <button class="btn btn-red" name="btnRej" id="btnRej" value="Reject">Reject</button>
    </div>
</div>

<script>
    $(document).ready(
            function () {
                $("#btnApp").live("click", function () {
                    var selected = new Array();
                    $("input:checkbox[name=allApprovals[]]:checked").each(function () {
                        if ($.isNumeric($(this).val())) {
                            selected.push($(this).val());
                        }

                    });
                    var project = $("#usertaskapprovalform_projects").val();
                    var resource = $("#usertaskapprovalform_resources").val();

                    if ((project == "" && project <= 0) || (resource == "" && resource <= 0))
                    {
                        setMessages("you did not select a project or resource");
                        return false;
                    }

                    if (selected.length <= 0)
                    {
                        setMessages("Select to approve/reject");
                        return false;
                    }

                    $.post(
                            '{{path('vlreleases_user_updateapprovals')}}', {approvals: selected, status: 'approved', projectId: project, resourceId: resource}, function (data) {
                        $('#taskpendingform').html('');
                        $('#taskpendingform').html(data);
                        setMessages("Selected tasks  were approved successfully");
                    }
                    );
                });


                $(document).on('click', '#allcheckboxes_id', function () {
                    var totalrows = $("#counts_id").val();
                    for (var i = 0; i < totalrows; i++) {
                        var setid = '#checkbox_' + i;
                        if (this.checked == true) {
                            $(setid).prop('checked', true);
                        } else {
                            $(setid).prop('checked', false);
                        }

                    }
                });


                $(document).on('click', '#btnRej', function () {
                    var selected = new Array();
                    $("input:checkbox[name=allApprovals[]]:checked").each(function () {
                        if ($.isNumeric($(this).val())) {
                            selected.push($(this).val());
                        }
                    });
                    var project = $("#usertaskapprovalform_projects").val();
                    var resource = $("#usertaskapprovalform_resources").val();

                    if ((project == "" && project <= 0) || (resource == "" && resource <= 0))
                    {
                        setMessages("you did not select a project or resource");
                        return false;
                    }


                    if (selected.length <= 0)
                    {
                        setMessages("Select to approve/reject");
                        return false;
                    }


                    $.post('{{path('vlreleases_user_updateapprovals')}}', {approvals: selected, status: 'rejected', projectId: project, resourceId: resource}, function (data) {
                        $('#taskpendingform').html('');
                        $('#taskpendingform').html(data);
                        setMessages("Selected tasks  were rejected successfully");
                    }
                    );
                });

            });
</script>










