<html>
    <head>
        <title>
            personalprofile
        </title>
    </head>
    <body>
        <form id='personaldetailsform' action='{{path('vlreleases_user_profile_handlePersonalProfileData')}}' method='POST'>
            <div class="userTitle"><a href="javascript:void(0)">Personal<span class="pull-right"><i class="iconChange fa fa-sort-down"></i></span></a></div>
            <div class="userHolder showDiv">
                {% if not form.vars.valid %}
                    <div class="row error-div">
                        <div class="col-lg-12">
                            <div class="alert alert-error">
                                {{ form_errors(form.name) }}
                                {{ form_errors(form.employeeId) }}  
                                {{ form_errors(form.dob) }}
                                {{ form_errors(form.mobile) }}
                                {{ form_errors(form.photo) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-3">       
                        {{ form_widget(form.id) }} 
                        {{ form_widget(form.name, { 'attr': {'class': 'form-control','placeholder': 'Name'}}) }}
                    </div>
                    <div class="col-lg-3">   
                        {{ form_widget(form.employeeId, { 'attr': {'class': 'form-control','placeholder': 'Emp ID'}}) }}
                    </div>
                    <div class="col-lg-3">      
                        <div id="datepicker" class="input-append">
                           <span class="add-on">
                                {{ form_widget(form.dob, { 'attr': {'id':'datePicker','data-format':'yyyy-MM-dd','class': 'form-control','placeholder': 'Date Of Birth'}}) }}                                                                    

                                <i class="fa fa-calendar icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3">  
                        <div id="datepicker" class="input-append">
                            <span class="add-on">
                                {{ form_widget(form.doj, { 'attr': {'id':'datePicker','data-format':'yyyy-MM-dd','class': 'form-control','placeholder': 'Date Of Joining'}}) }}                                                                    
                                <i class="fa fa-calendar icon-calendar"></i>
                            </span>
                        </div>                                                
                    </div> 

                    <div class="col-lg-3">  
                        <div id="datepicker" class="input-append">
                            <span class="add-on">
                                {{ form_widget(form.dojj, { 'attr': {'id':'datePicker','data-format':'yyyy-MM-dd','class': 'form-control','placeholder': 'Date Of Joining To Jyo'}}) }}                                                                    
                                <i class="fa fa-calendar icon-calendar"></i>
                            </span>
                        </div>                                                
                    </div> 
                    <div class="col-lg-3">
                        {{ form_widget(form.mobile, { 'attr': {'class': 'form-control','placeholder': 'Phone'}}) }}
                    </div>
                    <div class="col-lg-3">  
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder': 'Email'}}) }}
                   </div>
                        <div class="clearfix"></div>                           
                    <div class="col-lg-3"> 
                        <span class="btn btn-upload fileinput-button">
                            <i class="fa fa-plus"></i>
                            <span>Select Photo</span>
                            {{ form_widget(form.photoUploader) }} 
                        </span>
                    </div>
                    <div class="col-lg-3">
                        <button id='upload' class="btn btn-success fileinput-button">Upload Photo</button> <span style='display:none;' id='selectedfile'></span>
                        {{ form_widget(form.photo) }}
                        {{form_rest(form)}}
                    </div>
                    <div class="col-lg-3">	
                        <input type="button" class="btn btn-green" name="btnpersonalAdd" id="btnpersonalAdd" value="Add">
                        <span id='spinnerPersonalProfile' style='display:none;'><img src={{imagesPath}}spinner.gif /></span>
                    </div>                        
                </div>							
            </div>
        </form>
    </body>
</html>