<div id='addCategoriesHTML'>
    <form id='AddCategoriesForm' action='{{path('vlreleases_categories_register')}}' method='POST'>
        <div class="widget-content">
            <div class="addTextBoxDiv">
                <div class="addTask">
                    <div class="row">   
                        <div class="col-lg-3">
                            {{ form_errors(addCategoriesForm.name) }}
                            {{ form_widget(addCategoriesForm.name, { 'attr': {'class': 'form-control','placeholder': 'name'}}) }}
                        </div>
                        <div class="col-lg-3">
                            {{ form_errors(addCategoriesForm.active) }}
                            {{ form_widget(addCategoriesForm.active, { 'attr': {'class': 'form-control','placeholder': 'active'}}) }}
                        </div>
                        {% if errorValue is defined %}
                            {% if (errorValue > 0) %}
                                <div class="col-lg-3">
                                    <h4 align="left">* Category already existed</h4> 
                                </div>
                            {% endif %}
                        {% endif %}

                        {{ form_rest(addCategoriesForm) }}
                    </div>			
                </div>						
                <div class="row">
                    <div class="col-lg-12"> 
                        <!--<div class="btn btn-green" name="btnSave" id="btnSave">Submit</div>--->
                        <input type="button" class="btn btn-green" name="btndeviceAddCategory" id="btndeviceAddCategory" value="Add">

                        <span  id='spinnerShow' style='display:none;'><img src={{imagesPath}}spinner.gif /></span>
                        <div class="btn btn-green" name="btnCancel" id="btnCancel">Cancel</div>
                    </div>
                </div>
            </div>					
        </div>				
    </form>
</div>  

